button{
    width:6em;
    background-color:#546E7A;
    padding:10px;
    margin:20px;
    cursor:pointer;
    border-radius:5px;
    box-sizing:content-box;
  }
  button:hover{
    background-color:#90A4AE;
    color:white;
  }
  #add{
    background-color:#43A047;
  }
  #remove{
    background-color:#F44336;
  }
  
  input{
    border-radius:5px;
    border-color:#ddf;
    padding:5px;
    margin:5px;
  }
  
  table{
    width:100%;
    border-collapse:collapse;
  }
  
  th{
    background-color:green;
    padding: 10px 20px;
    border: 1px solid #cfc;
  }
  
  td{
    background-color:#ffd;
    padding: 10px 20px;
    border: 1px solid #cfc;
  }
  
  div:nth-child(2){
    background-color:#E0F2F1;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
  }
  
  div:nth-child(3){
    background-color:#E0F2F1;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
  }
  
  div:nth-child(4){
    background-color:#A1887F;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
  }
  
  div:nth-child(5){
    background-color:#EEEEEE;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
  }
  
  .hide{
    display:none;
  }
  
  .show{
    display:block;
  }